Source: ros-rolling-executive-smach
Section: misc
Priority: optional
Maintainer: Isaac Saito <iisaac.saito@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/smach
Standards-Version: 3.9.2

Package: ros-rolling-executive-smach
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-smach, ros-rolling-smach-msgs, ros-rolling-smach-ros, ros-rolling-ros-workspace
Description: This metapackage depends on the SMACH library and ROS SMACH integration packages.
